<div *ngIf="form">
    <!-- {{jsonData|json}} -->
    <form class="p-1" [formGroup]="form" (ngSubmit)="onSubmit()" name={{jsonData.title}}>
        <div>
            <h1 class="text-center">{{jsonData.title}}</h1>
            <hr/>
            <p class="font-weight-bold">{{jsonData.subtitle}}</p>
        </div>
        <div class="form-group m-4">
            <app-form-fields [formFields]="jsonData.fields" [form]="form" (parantData)="onDataReceived($event)" formGroupName="form"></app-form-fields>
        </div>
        <div class="button">
            <button type="button" class="btn btn-secondary btn-sm m-3" (click)="onCancel()">Cancel</button>
            <button class="btn btn-success btn-sm">Submit</button>
        </div>
    </form>
</div>