<div *ngFor="let formField of formFields" class="form-group">
    <div [ngSwitch]="formField.type" class="mt-3">
        <ng-container *ngSwitchCase="'text'">
            <app-text [formField]="formField"></app-text>
        </ng-container>
        
        <ng-container *ngSwitchCase="'email'">
            <app-email [formField]="formField"></app-email>
        </ng-container>
        
        <ng-container *ngSwitchCase="'password'">
            <app-password [formField]="formField"></app-password>
        </ng-container>
    </div>
</div>
